# Data Acquisition

In [1]:
import numpy as np
import pandas as pd
import requests
import json
import pprint

In [ ]:
movielist=[]
for i in range(9000):
    url="https://api.themoviedb.org/3/discover/movie?api_key=4568df78fb309238e68974a24013b626&language=en-US&include_adult=false&page="+str(i)

    r = requests.get(url)
    if r.status_code in range(200,299):
       data = r.json() 
       results = data["results"]
       for j in range(len(results)):
         movielist.append(results[j])
   
    
             
#Convert raw JSON data in list to Dataframe
movieData=pd.DataFrame(movielist)

In [5]:
movieData.dtypes

adult                   bool
backdrop_path         object
genre_ids             object
id                     int64
original_language     object
original_title        object
overview              object
popularity           float64
poster_path           object
release_date          object
title                 object
video                   bool
vote_average         float64
vote_count             int64
dtype: object

In [7]:
movielist=[]
for i in range(len(movieData["id"])):
    url="https://api.themoviedb.org/3/movie/" + str(movieData["id"].values[i]) + "?api_key=4568df78fb309238e68974a24013b626"
    r = requests.get(url)
    if r.status_code in range(200,299):
       data = r.json()
       movielist.append(data)

movieData = pd.DataFrame(movielist)
movieData=movieData[movieData['imdb_id'].notnull()]

In [10]:
movieData.dtypes

adult                       bool
backdrop_path             object
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
id                         int64
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                    int64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                       bool
vote_average             float64
vote_count                 int64
dtype: object

In [11]:
ombdList=[]
for i in range(len(movieData["imdb_id"])):
    url= "http://www.omdbapi.com/?i=" + str(movieData["imdb_id"].values[i]) +"&apikey=f625be79"
    r = requests.get(url)
    if r.status_code in range(200,299):
       data = r.json() 
       ombdList.append(data)
        

#Convert raw JSON data in list to Dataframe
ombdData=pd.DataFrame(ombdList)

In [14]:
ombdData.dtypes

Title           object
Year            object
Rated           object
Released        object
Runtime         object
Genre           object
Director        object
Writer          object
Actors          object
Plot            object
Language        object
Country         object
Awards          object
Poster          object
Ratings         object
Metascore       object
imdbRating      object
imdbVotes       object
imdbID          object
Type            object
DVD             object
BoxOffice       object
Production      object
Website         object
Response        object
Season          object
Episode         object
seriesID        object
Error           object
totalSeasons    object
dtype: object

In [15]:
ombdData = ombdData[["Metascore", "imdbRating", "imdbVotes"]]
movieData = movieData.join(ombdData)
movieData = movieData[movieData["Metascore"]!="N/A"]
movieData.dropna()
movieData.reset_index(drop=True, inplace=True)

In [17]:
movieData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262 entries, 0 to 1261
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  1262 non-null   bool
 1   backdrop_path          1241 non-null   object
 2   belongs_to_collection  493 non-null    object
 3   budget                 1262 non-null   int64
 4   genres                 1262 non-null   object
 5   homepage               1260 non-null   object
 6   id                     1262 non-null   int64
 7   imdb_id                1262 non-null   object
 8   original_language      1262 non-null   object
 9   original_title         1262 non-null   object
 10  overview               1262 non-null   object
 11  popularity             1262 non-null   float64
 12  poster_path            1261 non-null   object
 13  production_companies   1262 non-null   object
 14  production_countries   1262 non-null   object
 15  release_date           1262 non-null   object
 16  revenue                1262 non-null   int64
 17  runtime                1260 non-null   float64
 18  spoken_languages       1262 non-null   object
 19  status                 1262 non-null   object
 20  tagline                1262 non-null   object
 21  title                  1262 non-null   object
 22  video                  1262 non-null   bool
 23  vote_average           1262 non-null   float64
 24  vote_count             1262 non-null   int64
 25  Metascore              1241 non-null   object
 26  imdbRating             1241 non-null   object
 27  imdbVotes              1241 non-null   object
dtypes: bool(2), float64(3), int64(4), object(19)
memory usage: 258.9+ KB

In [22]:
cleanData = movieData.drop(['backdrop_path','belongs_to_collection','homepage','original_title','overview','poster_path','status','video'], axis=1)

In [23]:
cleanData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262 entries, 0 to 1261
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 1262 non-null   bool
 1   budget                1262 non-null   int64
 2   genres                1262 non-null   object
 3   id                    1262 non-null   int64
 4   imdb_id               1262 non-null   object
 5   original_language     1262 non-null   object
 6   popularity            1262 non-null   float64
 7   production_companies  1262 non-null   object
 8   production_countries  1262 non-null   object
 9   release_date          1262 non-null   object
 10  revenue               1262 non-null   int64
 11  runtime               1260 non-null   float64
 12  spoken_languages      1262 non-null   object
 13  tagline               1262 non-null   object
 14  title                 1262 non-null   object
 15  vote_average          1262 non-null   float64
 16  vote_count            1262 non-null   int64
 17  Metascore             1241 non-null   object
 18  imdbRating            1241 non-null   object
 19  imdbVotes             1241 non-null   object
dtypes: bool(1), float64(3), int64(4), object(12)
memory usage: 188.7+ KB

In [24]:
#cleanData.to_csv('cleanData.csv')

In [27]:
cleanData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262 entries, 0 to 1261
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 1262 non-null   bool
 1   budget                1262 non-null   int64
 2   genres                1262 non-null   object
 3   id                    1262 non-null   int64
 4   imdb_id               1262 non-null   object
 5   original_language     1262 non-null   object
 6   popularity            1262 non-null   float64
 7   production_companies  1262 non-null   object
 8   production_countries  1262 non-null   object
 9   release_date          1262 non-null   object
 10  revenue               1262 non-null   int64
 11  runtime               1260 non-null   float64
 12  spoken_languages      1262 non-null   object
 13  tagline               1262 non-null   object
 14  title                 1262 non-null   object
 15  vote_average          1262 non-null   float64
 16  vote_count            1262 non-null   int64
 17  Metascore             1241 non-null   object
 18  imdbRating            1241 non-null   object
 19  imdbVotes             1241 non-null   object
dtypes: bool(1), float64(3), int64(4), object(12)
memory usage: 188.7+ KB

# Remove empty values

In [59]:
cleanData.isnull().sum()

adult                    0
budget                   0
genres                   0
id                       0
imdb_id                  0
original_language        0
popularity               0
production_companies     0
production_countries     0
release_date             0
revenue                  0
runtime                  2
spoken_languages         0
tagline                  0
title                    0
vote_average             0
vote_count               0
Metascore               21
imdbRating              21
imdbVotes               21
dtype: int64

In [64]:
cleanData["Metascore"].fillna(value = "Nan", inplace = True)

In [65]:
cleanData[cleanData['Metascore']== 'Nan'].index

Int64Index([ 136,  169,  254,  310,  589,  668,  884,  987,  997, 1192, 1226,
            1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261],
           dtype='int64')

In [69]:
cleanData.drop( cleanData[ cleanData['Metascore'] == 'Nan' ].index , inplace=True)

In [71]:
cleanData["runtime"].fillna(value = "Nan", inplace = True)

In [72]:
cleanData[cleanData['runtime']== 'Nan'].index

Int64Index([137, 1063], dtype='int64')

In [73]:
cleanData.drop( cleanData[ cleanData['runtime'] == 'Nan' ].index , inplace=True)

In [75]:
cleanData.isnull().sum() #check that there is no more empty values

adult                   0
budget                  0
genres                  0
id                      0
imdb_id                 0
original_language       0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
tagline                 0
title                   0
vote_average            0
vote_count              0
Metascore               0
imdbRating              0
imdbVotes               0
dtype: int64

In [76]:
cleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1239 entries, 0 to 1251
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 1239 non-null   bool
 1   budget                1239 non-null   int64
 2   genres                1239 non-null   object
 3   id                    1239 non-null   int64
 4   imdb_id               1239 non-null   object
 5   original_language     1239 non-null   object
 6   popularity            1239 non-null   float64
 7   production_companies  1239 non-null   object
 8   production_countries  1239 non-null   object
 9   release_date          1239 non-null   object
 10  revenue               1239 non-null   int64
 11  runtime               1239 non-null   object
 12  spoken_languages      1239 non-null   object
 13  tagline               1239 non-null   object
 14  title                 1239 non-null   object
 15  vote_average          1239 non-null   float64
 16  vote_count            1239 non-null   int64
 17  Metascore             1239 non-null   object
 18  imdbRating            1239 non-null   object
 19  imdbVotes             1239 non-null   object
dtypes: bool(1), float64(2), int64(4), object(13)
memory usage: 194.8+ KB

In [79]:
#produce csv
cleanData.to_csv('Bigger_cleanData.csv')